html, body {
  margin: 0;
  padding: 0;
}

#coverCardpanel {
}

html{
  font-family: 'Josefin Sans', sans-serif;
  min-height: 555px;
}
#map {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

@media only screen and (max-height: 590px) {
  html {
    font-size: 12px !important
  }
}

@media only screen and (max-width: 999px) {
  html {
    font-size: 12px !important
  }
}

a {
  color: #fff !important;
}

#homepageLogo {
  color: black !important;
}
